<appSettings>
	<add key="webpages:Version" value="2.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="PreserveLoginUrl" value="true" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="smtpServer" value="smtp.gmail.com" />
	<add key="EnableSsl" value = "true"/>
	<add key="smtpPort" value="587" />
	<add key="smtpUser" value="erio1g01@gmail.com" />
	<add key="smtpPass" value="Erionig@@" />
	<add key="adminEmail" value="erio1g01@gmail.com" />
</appSettings>